.perfil {
  #nav {
    grid-area: nav;
  }

  #footer {
    grid-area: footer;
  }
  #main {
    grid-area: main;
  }

  .conteudoMain {
    display: grid;
    margin: 1rem;
    grid-template-rows: auto 0.5fr 1fr;
    grid-row-gap: 1.5rem;

    .titulo {
      display: grid;
      grid-template-columns: 1.5rem auto;
      grid-template-areas: "iconTitulo tituloMain";
      align-items: center;

      label {
        font-size: $font-size-m;
        font-weight: $font-weight-boldest;
        color: $text-main-color;
        margin-left: 0.5rem;
      }

      img {
        width: 90%;
      }
      .imgBanco {
        width: 85%;
      }

      .iconTitulo {
        grid-area: iconTitulo;
      }
      .tituloMain {
        grid-area: tituloMain;
      }
    }

    .infoPerfil {
      display: grid;
      justify-content: center;
      align-self: center;
      align-items: center;
      justify-items: center;
      grid-row-gap: 1rem;

      img {
        width: 70%;
      }

      label {
        color: $text-main-color;
        font-size: $font-size-l;
        font-weight: $font-weight-more-bold;
      }

      span {
        color: $text-type5-color;
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
      }
    }
    .conteudoMid {
      .conteudoBotoes {
        display: grid;
        align-self: center;
        grid-row-gap: 1.5rem;

        .tituloMid {
          display: grid;
          margin-top: 0.5rem;
          grid-template-columns: auto;
          grid-template-areas: "tituloConteudo";

          .tituloConteudo {
            color: $text-main-color;
            font-size: 1.2rem;
            font-weight: 600;
            grid-area: tituloConteudo;
          }
        }

        .titulo {
          width: 90%;
          justify-self: center;

          label {
            color: $text-main-color;
            font-weight: $font-weight-normal;
            font-weight: 300;
          }
        }

        .botao {
          background-color: $button-type3-background;
          border: 1px solid $button-type3-background;
          border-radius: 0.3rem;
          display: grid;
          grid-template-columns: 0.1fr 0.1fr 1fr;
          grid-template-areas: ". imgEsquerda textoDireita";
          padding: 0.5rem 0.5rem 0.5rem 0.5rem;
          width: 90%;
          justify-self: center;

          #img_esquerda {
            grid-area: imgEsquerda;
            align-self: center;
          }

          #texto_Direita {
            grid-area: textoDireita;
            align-self: center;

            label {
              padding-left: 1rem;
              font-weight: $font-weight-boldest;
              font-size: $font-size-s;
              color: $text-main-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .perfil {
    overflow: auto;
    aside.menu_principal {
      position: sticky;
      top: 0;
      left: 0;
    }
    .conteudoMain {
      display: grid;
      /* grid-template-rows: auto 4rem 1fr; */
      padding-right: 4rem;
      padding-top: 2rem;
      margin: 0;

      height: 100%;

      .bemvindo_titulos {
        h3 {
          visibility: hidden;
        }
      }
      .infoPerfil {
        display: none;
      }

      .titulo {
        display: none;
      }

      .conteudoMid {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "esquerda direita";
        grid-column-gap: 2.5rem;
        align-self: flex-start;
        .conteudoBotoes {
          grid-area: esquerda;
          align-self: flex-start;
        }
        .conteudoDireitaDesktopPerfilEquipa {
          grid-area: direita;
          display: block;
          .infoPerfilDesktop {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-areas: "first" "second";
            align-self: center;

            justify-items: center;
            grid-row-gap: 1rem;

            .conteudoDireitaFirst {
              grid-area: first;
              display: grid;
              grid-template-rows: 2rem auto;
              grid-row-gap: 3rem;
              width: 100%;
              img {
                justify-self: center;
                width: 45%;
              }
              label {
                color: $text-main-color;
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 0.5rem;
                text-align: left;
              }
              span {
                color: $text-type5-color;
                font-size: $font-size-s;
                font-weight: $font-weight-normal;
                width: 60%;
                text-align: center;
              }
            }
            .conteudoDireitaSecond {
              grid-area: second;
              display: grid;
              grid-template-rows: 2rem auto;
              align-self: flex-start;
              width: 100%;
              grid-row-gap: 2rem;
              margin-top: 3rem;
              label {
                color: $text-main-color;
                font-size: 1.2rem;
                font-weight: 600;
                justify-self: start;
              }
              .descricaoEquipa {
                background-color: $button-type1-background;
                border-radius: 5px;
                padding: 1rem;
                display: grid;
                grid-row-gap: 1rem;
                .tituloCaixaConteudo {
                  color: $text-main-color;
                  font-size: $font-size-m;
                  font-weight: 600;
                }
                span {
                  color: $text-type5-color;
                  font-size: $font-size-s;
                  font-weight: $font-weight-normal;
                  width: 60%;
                  justify-self: start;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
