.carouselContent{
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;



  .carouselDashboard {
    width: 95vw;
    text-align: center;



    img{
      width: 45% !important;
      margin: 5px;
    }
  
   
  }
  
}




