.banco {
  overflow: auto;
  .conteudoMain {
    display: grid;
    grid-template-rows: 3rem 3rem 1fr;
    grid-row-gap: 1rem;
    padding: 1rem;

    .searchBarMobile {
      display: block;
    }
    .coluna_Direita_Banco {
      display: none;
    }
    .titulo {
      display: grid;
      grid-template-columns: 1.5rem auto;
      grid-template-areas: "iconTituloBanco titulo_and_img";
      align-items: center;

      #titulo_and_img {
        grid-area: titulo_and_img;
      }
      #iconTituloBanco {
        grid-area: iconTituloBanco;
        width: 85%;
      }

      .titulo_and_img {
        display: grid;
        grid-template-columns: 1fr 3rem;
        .tituloBanco {
          font-size: $font-size-m;
          font-weight: $font-weight-boldest;
          color: $text-main-color;
          margin-left: 0.5rem;
        }
        .tituloTodasSessoes {
          display: none;
        }

        #iconOrdenar {
          justify-self: center;
        }
      }

      .encontrarSessao {
        display: none;
      }
    }

    .labelNarrativas {
      display: none;
    }

    .tituloDestaque {
      display: none;
    }

    .searchBar {
      display: flex;
      position: relative;
      align-items: center;

      div {
        position: absolute;
        right: 0;
        display: grid;
        grid-template-columns: 3rem auto 3rem;
        justify-items: center;

        img {
          width: 50%;
        }
      }
      input {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0 0 0 5%;
        background-color: $button-type1-background;
        width: 100%;
        font-family: $font_family-type2;
      }
    }

    .filtro {
      display: none;
    }

    .sessoesDestaque {
      display: none;

      .textoCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 2rem 1rem;

        label {
          font-size: $font-size-s;
          font-weight: $font-weight-more-bold;
          color: $text-main-color;
        }

        p {
          color: $text-type4-color;
          font-size: $font-size-xs;
          font-weight: $font-weight-boldest;
        }

        span {
          color: $text-type5-color;
          font-size: $font-size-xs;
          font-weight: $font-weight-boldest;
        }
      }
    }

    .narrativa {
      .likes_coments {
        display: none;
      }
    }
  }
}

@media only screen and (max-height: 899px) {
  .conteudoMain {
    .conteudoBanco {
      .coluna_Direita_Banco {
        .AreaSessoesDestaque {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1180px) {
  .AreaSessoesDestaque {
    .destaquesBanco {
      .sessoesDestaque {
        .narrativa {
          .iconSessoes {
            margin: 0;
            margin-left: 1rem;
          }
          .textoCards {
            label {
              font-size: 0.8rem;
            }
            p {
              font-size: 0.6rem;
            }
            span {
              font-size: 0.6rem;
            }
          }
          .iconMedalha {
            margin: 0;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .banco {
    aside.menu_principal {
      position: sticky;
      top: 0;
      left: 0;
    }
    .conteudoMain {
      display: grid;
      grid-template-rows: auto 4rem 1fr;
      padding-right: 4rem;
      padding-top: 2rem;
      margin: 0;

      height: 100%;

      .searchBarMobile {
        display: none;
      }

      .searchBar {
        display: flex;
        position: relative;
        align-items: center;

        div {
          position: absolute;
          right: 0;
          display: grid;
          grid-template-columns: 3rem;
          justify-items: center;

          img {
            width: 50%;
          }
        }
        input {
          border: none;
          border-radius: 4px;
          height: 40px;
          padding: 0 0 0 5%;
          background-color: $button-type1-background;
          width: 100%;
          font-family: $font_family-type2;
        }

        #linhaVertical {
          display: none;
        }
        #iconFiltro {
          display: none;
        }
      }

      .filtro {
        padding-top: 1rem;
        div {
          position: absolute;
          right: 0;
          display: grid;
          grid-template-columns: 3rem;
          justify-items: center;

          img {
            width: 50%;
          }
        }
      }

      .titulo {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "titulo_and_img encontrarSessao";
        align-items: center;
        grid-column-gap: 2.5rem;

        #titulo_and_img {
          grid-area: titulo_and_img;
        }
        #encontrarSessao {
          grid-area: encontrarSessao;
        }
        #iconTituloBanco {
          display: none;
        }

        .titulo_and_img {
          display: grid;
          grid-template-columns: 1fr 3rem;
          .tituloBanco {
            display: none;
          }
          .tituloTodasSessoes {
            display: block;
            font-size: $font-size-m;
            font-weight: $font-weight-boldest;
            color: $text-main-color;
            margin-left: 0.5rem;
          }

          #iconOrdenar {
            justify-self: center;
          }
        }

        .encontrarSessao {
          display: block;
          label {
            font-size: $font-size-m;
            font-weight: $font-weight-boldest;
            color: $text-main-color;
          }
        }
      }

      .conteudoBanco {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 2.5rem;
        overflow: hidden;
      }
      .listaNarrativas {
        overflow: auto;
      }
      .coluna_Direita_Banco {
        display: block;
        height: fit-content;
      }
      .bemvindo_titulos {
        h3 {
          visibility: hidden;
        }
      }

      .labelNarrativas {
        display: block;
      }

      .AreaEncontrarSessao {
        display: grid;
        grid-template-rows: auto 1fr;

        background-color: $button-type3-background;
        padding: 1rem;
        text-align: center;
        border-radius: 5px;
      }
      .AreaSessoesDestaque {
        display: grid;

        .tituloDestaque {
          display: block;
          margin-top: 2rem;
          margin-bottom: 2rem;
          font-size: $font-size-m;
          font-weight: $font-weight-boldest;
          color: $text-main-color;
        }
      }
      .destaquesBanco {
        .narrativa {
          display: grid;
          grid-template-columns: auto 1fr auto;

          .likes_coments {
            display: none;
          }
        }
      }
      .sessoesDestaque {
        display: block;
      }

      .narrativa {
        display: grid;
        grid-template-columns: auto 1fr 1fr auto;

        .likes_coments {
          display: grid;
          grid-template-columns: 1fr 1rem 1fr;
          grid-template-areas: "gostos linha comentarios";

          #gostos {
            grid-area: gostos;
            justify-self: right;
            align-self: center;
            padding-right: 0.3rem;
            p {
              text-align: center;
              font-size: 0.75rem;
              font-weight: $font-weight-bold;
              color: $text-type5-color;
            }
            label {
              text-align: center;
              font-size: 0.75rem;
              font-weight: $font-weight-normal;
              color: $text-type5-color;
            }
          }
          #linha {
            grid-area: linha;
            justify-self: center;
            align-self: center;
          }
          #comentarios {
            grid-area: comentarios;
            justify-self: left;
            align-self: center;
            padding-left: 0.3rem;
            p {
              text-align: center;
              font-size: 0.75rem;
              font-weight: $font-weight-bold;
              color: $text-type5-color;
            }
            label {
              text-align: center;
              font-size: 0.75rem;
              font-weight: $font-weight-normal;
              color: $text-type5-color;
            }
          }
        }
      }
    }
  }
}
