.banco {
  .conteudoMain {
    display: grid;
    grid-template-rows: 3rem 3rem 1fr;
    grid-row-gap: 1rem;
    padding: 1rem;
    .titulo {
      display: grid;
      grid-template-columns: 1.5rem auto 3rem;
      grid-template-areas: "iconTituloBanco tituloMain iconTituloBanco1";
      align-items: center;

      label {
        font-size: $font-size-m;
        font-weight: $font-weight-boldest;
        color: $text-main-color;
        margin-left: 0.5rem;
      }

      img {
        width: 85%;
      }

      #iconTituloBanco {
        grid-area: iconTituloBanco;
      }
      #iconTituloBanco1 {
        grid-area: iconTituloBanco1;
      }
      #tituloMain {
        grid-area: tituloMain;
      }

      div {
        text-align: center;
        img {
          width: 50%;
        }
      }
    }
    .labelNarrativas {
      display: none;
    }
    .AreaEncontrarSessao {
      display: none;
    }
    .AreaSessoesDestaque {
      display: none;
    }

    .searchBar {
      display: flex;
      position: relative;
      align-items: center;

      div {
        position: absolute;
        right: 0;
        display: grid;
        grid-template-columns: 3rem auto 3rem;
        justify-items: center;

        img {
          width: 50%;
        }
      }
      input {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0 0 0 5%;
        background-color: $button-type1-background;
        width: 100%;
        font-family: $font_family-type2;
      }
    }

    .sessoesDestaque {
      display: none;

      .textoCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 2rem 1rem;

        label {
          font-size: $font-size-s;
          font-weight: $font-weight-more-bold;
          color: $text-main-color;
        }

        p {
          color: $text-type4-color;
          font-size: $font-size-xs;
          font-weight: $font-weight-boldest;
        }

        span {
          color: $text-type5-color;
          font-size: $font-size-xs;
          font-weight: $font-weight-boldest;
        }
      }
    }

    .narrativa {
      .likes_coments {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .banco {
    .conteudoMain {
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding-right: 4rem;
      padding-top: 2rem;
      margin: 0;
      .searchBar {
        display: none;
      }

      .titulo {
        display: none;
      }
      .listaNarrativas {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 1rem;
      }

      .bemvindo_titulos {
        h3 {
          visibility: hidden;
        }
      }
      .labelNarrativas {
        display: block;
      }
      .AreaEncontrarSessao {
        display: grid;
        grid-template-rows: auto 1fr;
        div {
          background-color: aqua;
          padding: 1rem;
          text-align: center;
        }
      }
      .AreaSessoesDestaque {
        display: grid;
      }
      .destaquesBanco {
        .narrativa {
          display: grid;
          grid-template-columns: auto 1fr auto;

          .likes_coments {
            display: none;
          }
        }
      }
      .sessoesDestaque {
        display: block;
      }

      .narrativa {
        display: grid;
        grid-template-columns: auto 1fr 1fr auto;

        .likes_coments {
          display: block;
        }
      }
    }
  }
}
