.banco{
    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-areas: "nav" "main" "footer";
    grid-row-gap: 1rem;
    height: 100vh;

  #nav {
    grid-area: nav;
  }

  #footer {
    grid-area: footer;
  }
  #main {
    grid-area: main;
    display: grid;
  }
.conteudoMain{
  display: grid;
  grid-row-gap: 1rem ;
  margin: 1rem;
  .titulo {
    display: grid;
    grid-template-columns: 1.5rem 1.5rem 1fr auto 1.5rem;
    grid-template-areas: ". iconTituloBanco tituloMain iconTituloBanco1 .";
    align-items: center;

    label {
      font-size: $font-size-m;
      font-weight: $font-weight-boldest;
      color: $text-main-color;
      margin-left: 0.5rem;
    }

    img {
      width: 95%;
    }

    #iconTituloBanco {
      grid-area: iconTituloBanco;
    }
    #iconTituloBanco1 {
      grid-area: iconTituloBanco1;
    }
    #tituloMain {
      grid-area: tituloMain;
    }
  }


  .searchBar{
    display: flex;
    position: relative;
    align-items: center;
    
    img{
      position: absolute;
      right: 5%;
    }

    input{
      border: none;
      border-radius: 4px;
      height: 40px;
      padding: 0 15% 0 15%;
      background-color: aqua;
      width: 100%;
    }
  }
}
  
}