.cardSessoes {
    div {
      background-color: #F1F6FF;
      margin: 0 0 2rem 0;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      border-radius: 5px;

      img {
        margin: 1rem;
      }
    }

    .textoCards {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin: 2rem 1rem;


      label{
        font-size: $font-size-s;
        font-weight: $font-weight-boldest;
        color: $text-type1-sessCard;
      }

      p{
        color: $text-type2-sessCard;
        font-size: $font-size-xs;
        font-weight: $font-weight-bolder;
      }

      span{
        color: $text-type3-sessCard;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
      }
    }
  }