.criarEquipa {
  .conteudoMain {
    overflow: hidden;
    height: 100%;
    .css-1gyv358-control {
      height: fit-content;
    }
    .css-ppyftn-control {
      height: fit-content;
    }
    .eliminar_x {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        img {
          width: 25%;
        }
      }
      img {
        width: 20%;
      }
    }
    .tituloAdicionarAlunos {
      display: none;
    }
    .imgCriarEquipas {
      display: none;
    }
    .formularioCriarSessao {
      display: grid;
      grid-template-columns: 1fr;

      .criarSessaoImg {
        position: relative;
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 4px;
        height: 35vh;
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .setaTras {
          position: absolute;
          padding: 1.5rem;
          text-align: initial;
        }
      }
      #corpo {
        margin: 1.5rem;
        margin-top: 4.5rem;
        display: grid;
        grid-gap: 2rem;

        #titulo {
          font-size: 1.375rem;
          font-weight: $font-weight-more-bold;
          color: $text-main-color;
        }
        #texto {
          font-size: $font-size-m;
          font-weight: $font-weight-normal;
          color: $text-main-color;
        }
        .botaoAzul {
          background-color: white;
          border: none;
          margin: 1rem;
          text-decoration: none;

          #divBotao {
            display: grid;
            padding: 0;
            border: 0;
            margin: auto;
            width: 90%;
            #botao {
              color: $button-type1-background;
              justify-self: center;
              text-align: center;
              background-color: $button-type2-background;
              border: 1px solid $button-type2-background;
              border-radius: 0.3rem;
              padding: 1rem;
              width: 100%;
              text-decoration: none;
              margin-top: 0;

              #textoBotao {
                font-weight: $font-weight-more-bold;
                font-size: 1.375rem;
                color: white;
                text-decoration: none;
              }
            }
          }
        }
        button {
          &:disabled {
            display: grid;
            padding: 0;
            border: 0;
            margin: auto;
            width: 82%;
            margin-top: 1rem;
            #botao {
              color: $button-type1-background;
              justify-self: center;
              text-align: center;
              background-color: $button-type2-background;
              border: 1px solid $button-type2-background;
              border-radius: 0.3rem;
              padding: 1rem;
              width: 100%;
              opacity: 0.5;
              margin-top: 0;

              #textoBotao {
                font-weight: $font-weight-more-bold;
                font-size: 1.375rem;
                color: white;
              }
            }
          }
        }

        .formulario {
          display: grid;
          grid-gap: 2rem;

          .tituloFormulario {
            font-size: $font-size-s;
            font-weight: $font-weight-normal;
            color: $text-main-color;
          }

          .inputTexto {
            border: none;
            border-radius: 4px;
            height: 40px;
            padding: 0 1rem 0 1rem;
            background-color: $input-color-lightblue;
            width: 100%;
          }

          .inputTexto::placeholder {
            color: lightgray;
          }
          .inputTexto:focus {
            outline: 0;
          }
          .textareaTexto {
            border: none;
            border-radius: 4px;
            height: 40px;
            padding: 1rem;
            background-color: $input-color-lightblue;
            width: 100%;
            height: 8rem;
            resize: none;
          }
          .textareaTexto::placeholder {
            color: lightgray;
          }
          .textareaTexto:focus {
            outline: 0;
          }
        }
        #linkFooter {
          display: grid;
          align-items: center;
          text-align: center;
          margin-top: 0;
          a {
            text-decoration: none;
            font-size: $font-size-xs;
            font-weight: $font-weight-bolder;
            color: $text-main-color;
          }
        }
      }
    }
    .conteudoDireita {
      display: none;
    }
    .titulo {
      display: none;
    }
    .criar_sem_foto {
      text-align: center;
      cursor: pointer;
    }
  }

  .associarEquipa.criarEquipa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    margin-top: 0.5rem;

    .headerAssociarEquipa {
      display: grid;
      grid-template-columns: 0.1fr 0.5fr 1fr 0.5fr 0.1fr;
      grid-template-areas: ". seta associar criar .";
      margin-top: 1.5rem;
      margin-bottom: 3rem;
      #seta {
        align-self: center;
        grid-area: seta;
        justify-self: left;
      }
      #titulo {
        align-self: center;
        grid-area: associar;
        justify-self: center;
        color: $text-main-color;
        font-weight: $font-weight-boldest;
        font-size: 1.375rem;
      }
      #criarEquipa {
        align-self: center;
        grid-area: criar;
        justify-self: right;
      }
    }

    .inputPesquisar {
      display: grid;
      grid-template-columns: 0.09fr auto 0.09fr;
      grid-template-areas: ". input .";
      #inputPesquisa {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0 1rem 0 1rem;
        background-color: $input-color-lightblue;
        width: 100%;
      }
      #inputRole {
        grid-area: input;
      }
      #inputPesquisa::placeholder {
        color: lightgray;
      }
      #inputPesquisa:focus {
        outline: 0;
      }
    }
    #id_titulo2 {
      display: grid;
      margin: 1.5rem;
      #titulo2 {
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        color: $text-main-color;
      }
    }
    #equipas {
      // display: grid;
      // grid-template-rows: 1fr 1fr 1fr 1fr;
      // grid-template-areas: "equipa1" "equipa2" "equipa3" "equipa4";
      // margin: 1.5rem;
      // grid-gap: 1rem;

      .equipa1 {
        grid-area: equipa1;
        display: grid;
        grid-template-columns: 7rem 1fr 5.8rem;
        grid-template-areas: "imagem texto checkbox";
        border: 1px solid #f8faff;
        background-color: #f8faff;
        border-radius: 4px;
        margin-bottom: 1.5rem;

        .avatarEquipa {
          grid-area: imagem;
          justify-self: center;
          align-self: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .texto {
          grid-area: texto;
          justify-self: left;
          align-self: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 1rem;
          .tituloTexto {
            color: #042454;
            font-size: 0.9375rem;
            font-weight: $font-weight-more-bold;
            margin: 0.2rem 0 0.2rem 0;
          }
          .escolaTexto {
            color: #003bb9;
            font-size: 0.8125rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
          .anoTexto {
            color: #0066ff;
            font-size: 0.625rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
        }
        .checkbox {
          grid-area: checkbox;
          justify-self: center;
          align-self: center;
          min-height: 35%;
          min-width: 35%;
          background-color: #ffffff;
          border: 1px solid #cccccc;
          border-radius: 100%;
        }
      }
      #equipa2 {
        grid-area: equipa2;
        display: grid;
        grid-template-columns: 7rem 1fr 5.8rem;
        grid-template-areas: "imagem texto checkbox";
        border: 1px solid #f8faff;
        background-color: #f8faff;
        border-radius: 4px;

        .avatarEquipa {
          grid-area: imagem;
          justify-self: center;
          align-self: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .texto {
          grid-area: texto;
          justify-self: left;
          align-self: center;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 0.5rem;
          .tituloTexto {
            color: #042454;
            font-size: 0.9375rem;
            font-weight: $font-weight-more-bold;
            margin: 0.2rem 0 0.2rem 0;
          }
          .escolaTexto {
            color: #003bb9;
            font-size: 0.8125rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
          .anoTexto {
            color: #0066ff;
            font-size: 0.625rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
        }
        .checkbox {
          grid-area: checkbox;
          justify-self: center;
          align-self: center;
          min-height: 35%;
          min-width: 35%;
          background-color: #ffffff;
          border: 1px solid #cccccc;
          border-radius: 100%;
        }
      }
      #equipa3 {
        grid-area: equipa3;
        display: grid;
        grid-template-columns: 7rem 1fr 5.8rem;
        grid-template-areas: "imagem texto checkbox";
        border: 1px solid #f8faff;
        background-color: #f8faff;
        border-radius: 4px;

        .avatarEquipa {
          grid-area: imagem;
          justify-self: center;
          align-self: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .texto {
          grid-area: texto;
          justify-self: left;
          align-self: center;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 0.5rem;
          .tituloTexto {
            color: #042454;
            font-size: 0.9375rem;
            font-weight: $font-weight-more-bold;
            margin: 0.2rem 0 0.2rem 0;
          }
          .escolaTexto {
            color: #003bb9;
            font-size: 0.8125rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
          .anoTexto {
            color: #0066ff;
            font-size: 0.625rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
        }
        .checkbox {
          grid-area: checkbox;
          justify-self: center;
          align-self: center;
          min-height: 35%;
          min-width: 35%;
          background-color: #ffffff;
          border: 1px solid #cccccc;
          border-radius: 100%;
        }
      }
      #equipa4 {
        grid-area: equipa4;
        display: grid;
        grid-template-columns: 7rem 1fr 5.8rem;
        grid-template-areas: "imagem texto checkbox";
        border: 1px solid #f8faff;
        background-color: #f8faff;
        border-radius: 4px;

        .avatarEquipa {
          grid-area: imagem;
          justify-self: center;
          align-self: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .texto {
          grid-area: texto;
          justify-self: left;
          align-self: center;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 0.5rem;
          .tituloTexto {
            color: #042454;
            font-size: 0.9375rem;
            font-weight: $font-weight-more-bold;
            margin: 0.2rem 0 0.2rem 0;
          }
          .escolaTexto {
            color: #003bb9;
            font-size: 0.8125rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
          .anoTexto {
            color: #0066ff;
            font-size: 0.625rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            margin: 0.2rem 0 0.2rem 0;
          }
        }
        .checkbox {
          grid-area: checkbox;
          justify-self: center;
          align-self: center;
          min-height: 35%;
          min-width: 35%;
          background-color: #ffffff;
          border: 1px solid #cccccc;
          border-radius: 100%;
        }
      }
    }
    .botaoAzul {
      background-color: white;
      border: none;
      margin: 1rem;
      text-decoration: none;

      #divBotao {
        display: grid;
        padding: 0;
        border: 0;
        margin: auto;
        width: 90%;
        #botao {
          color: $button-type1-background;
          justify-self: center;
          text-align: center;
          background-color: $button-type2-background;
          border: 1px solid $button-type2-background;
          border-radius: 0.3rem;
          padding: 1rem;
          width: 100%;
          text-decoration: none;
          margin-top: 0;

          #textoBotao {
            font-weight: $font-weight-more-bold;
            font-size: 1.375rem;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    button {
      &:disabled {
        display: grid;
        padding: 0;
        border: 0;
        margin: auto;
        width: 82%;
        margin-top: 1rem;
        #botao {
          color: $button-type1-background;
          justify-self: center;
          text-align: center;
          background-color: $button-type2-background;
          border: 1px solid $button-type2-background;
          border-radius: 0.3rem;
          padding: 1rem;
          width: 100%;
          opacity: 0.5;
          margin-top: 0;

          #textoBotao {
            font-weight: $font-weight-more-bold;
            font-size: 1.375rem;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .criarEquipa {
    overflow: auto;
    .conteudoMain {
      display: grid;
      grid-template-rows: auto 4rem 1fr;
      padding-right: 4rem;
      padding-top: 2rem;
      margin: 0;
      grid-row-gap: 1rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
      .bemvindo_titulos {
        h3 {
          visibility: hidden;
        }
      }
      .titulo {
        display: grid;
        grid-template-columns: 1.5fr;
        grid-template-areas: "tituloPag";
        align-items: center;
        grid-column-gap: 2.5rem;

        #tituloPag {
          grid-area: tituloPag;
          display: grid;
          grid-template-columns: auto 24rem;
          grid-template-areas: "conteudo .";
          .gridAdicionar {
            grid-area: conteudo;
            display: grid;
            grid-template-columns: 24rem 5rem;
            grid-template-areas: "tituloCriarEquipas imgCriarEquipas";
            .tituloAdicionarAlunos {
              grid-area: tituloCriarEquipas;
            }
            .imgCriarEquipas {
              grid-area: imgCriarEquipas;
              display: block;
              justify-self: right;
            }
          }
        }
        .criarEquipaTitulo {
          display: block;
          .tituloCriarEquipas {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            color: #042454;
            margin-left: 0.5rem;
          }
        }

        .titulo_and_img {
          display: grid;
          grid-template-columns: 1fr 3rem;

          #iconOrdenar {
            justify-self: end;
            margin-right: 1rem;
          }
        }

        .desktop {
          display: block;
        }
      }
      .formularioCriarSessao {
        header {
          display: none;
        }
      }
    }
    .conteudoMid {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-areas: "conteudoEsquerda conteudoDireita";
      grid-column-gap: 1rem;
      overflow: auto;
      height: 100%;

      .conteudoEsquerda {
        grid-area: conteudoEsquerda;
        /* overflow: hidden; */
        height: 100%;
        #corpo {
          margin: 1rem 2rem 0rem 2rem;

          #titulo {
            display: none;
          }
          #texto {
            margin-bottom: 1rem;
            font-size: 1rem;
          }
          .formulario {
            margin-bottom: 1rem;
            grid-gap: 1rem;
          }
        }
        .associarEquipa {
          height: 100%;
          header {
            display: none;
          }

          #equipas {
            height: 94%;
            overflow: auto;
          }
        }
      }
      .conteudoDireita {
        display: grid;
        grid-template-rows: 6rem auto;
        grid-template-areas: "botaoEtapa" "imgEquipa";
        grid-area: conteudoDireita;
        text-align: center;
        padding-left: 2rem;
        .botaoEtapaAnterior {
          display: grid;
          grid-template-columns: 4rem 1fr;
          grid-template-areas: "icon botao";
          background-color: #f8faff;
          border-radius: 5px;
          padding: 1.5rem;

          .iconSeta {
            width: 50%;
            grid-area: icon;
            align-self: center;
          }
          .textoBotao {
            grid-area: botao;
            align-self: center;
            justify-self: start;
            color: $text-main-color;
            font-weight: $font-weight-more-bold;
            font-size: 0.9375rem;
            padding-left: 1rem;
          }
        }
        .primeiraEtapa {
          visibility: hidden;
        }
        .imgEquipa {
          width: 90%;
          justify-self: center;
          align-self: center;
        }
      }
    }
  }
}
