.dashboard {
  .conteudoMain {
    display: grid;
    grid-row-gap: 1rem;
    padding: 1rem;

    #ajuda {
      display: none;
    }

    .titulo_minhasSessoes {
      display: grid;
      grid-template-columns: 1.5rem 1fr auto;
      grid-template-areas: "iconTitulo tituloMain labelVermais";
      align-items: center;

      #labelVermais {
        grid-area: labelVermais;
      }

      #labelAjuda {
        display: none;
      }

      label {
        font-size: $font-size-m;
        font-weight: $font-weight-boldest;
        color: $text-main-color;
        margin-left: 0.5rem;
      }

      img {
        width: 100%;
      }
      .imgBanco {
        width: 85%;
      }

      .iconTitulo {
        grid-area: iconTitulo;
      }
      .tituloMain {
        grid-area: tituloMain;
      }

      .verMais {
        color: $text-type4-color;
        font-size: 1rem;
        font-weight: $font-weight-normal;
        justify-self: end;
      }
    }

    .titulo_sessoesDestaque {
      display: grid;
      grid-template-columns: 1.5rem auto;
      grid-template-areas: "iconTitulo tituloMain";
      align-items: center;

      #labelVermais {
        display: none;
      }

      #labelAjuda {
        display: none;
      }

      label {
        font-size: $font-size-m;
        font-weight: $font-weight-boldest;
        color: $text-main-color;
        margin-left: 0.5rem;
      }

      img {
        width: 100%;
      }
      .imgBanco {
        width: 85%;
      }

      .iconTitulo {
        grid-area: iconTitulo;
      }
      .tituloMain {
        grid-area: tituloMain;
      }
    }

    .narrativa {
      .likes_coments {
        display: none;
      }
    }
  }

  .minhasEquipas {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    grid-column-gap: 1rem;

    .minhasEquipasCard {
      display: grid;
      grid-template-rows: auto 1fr;
      border-radius: 10px;

      img {
        width: 100%;
      }

      .cardInfo {
        background-color: #f8faff;
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "labelAno" "disciplina";
        grid-row-gap: 1rem;
        padding: 1rem;

        #labelAno {
          grid-area: labelAno;
          font-weight: $font-weight-boldest;
          color: $text-main-color;
          font-size: 1.25rem;
        }

        #disciplina {
          grid-area: disciplina;
          font-weight: $font-weight-bolder;
          color: $text-main-color;
          font-size: $font-size-s;
        }

        #escola {
          display: none;
        }
      }
    }
  }

  .layout1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
    grid-column-gap: 1rem;
  }
  .layout2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
    grid-column-gap: 1rem;
  }
  .layout3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    grid-column-gap: 1rem;
  }
  .layout4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    grid-column-gap: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .dashboard {
    .conteudoMain {
      display: grid;
      grid-template-rows: 0.5fr 4rem 1.5fr 0.3fr 1fr;
      padding-right: 4rem;
      padding-top: 2rem;
      overflow-x: hidden;

      #ajuda {
        display: grid;
        background-color: $button-type3-background;
        margin-left: 5%;
        overflow: auto;
        grid-template-rows: auto 1fr;
        border-radius: 4px;

        .subTitulos {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 1rem 1.5rem 0rem 1.5rem;

          h2 {
            font-size: 1rem;
            font-weight: $font-weight-boldest;
            color: $text-main-color;
          }
          label {
            font-size: 0.8rem;
            font-weight: $font-weight-light;
            color: $text-type4-color;
            justify-self: right;
          }
        }

        .carouselCards {
          align-self: center;
          height: 100%;

          .slick-slide {
            height: 100%;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            div {
              height: 45%;
              margin-bottom: 2.5%;
              margin-top: 2.5%;
            }

            .cards {
              background-color: white;
              margin-bottom: 1rem;
              display: grid !important;
              grid-template-columns: 1fr auto;
              height: 100%;
              border-radius: 4px;

              img {
                align-self: center;
                padding-right: 1rem;
              }
              div {
                align-self: center;
                padding-left: 1rem;
                label {
                  color: #042454;
                  font-size: 1rem;
                  font-weight: 500;
                }
                p {
                  color: #0066ff;
                  font-size: 0.8rem;
                  font-weight: 400;
                  padding-top: 0.5rem;
                }
              }
            }
          }
        }

        .slick-slider {
          height: 100%;
          padding: 1rem;
          display: grid;
          grid-template-rows: 1fr auto;
          .slick-list {
            height: 100%;
          }
          .slick-track {
            height: 100%;
          }
        }

        .slick-dots {
          position: inherit;
          bottom: 0;
        }
      }

      .titulo_minhasSessoes {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-areas: "minhasEquipas verMais ajuda";

        #labelMinhasequipas {
          display: block;
          grid-area: minhasEquipas;
        }
        #labelVermais {
          display: block;
          grid-area: verMais;
        }

        #labelAjuda {
          display: block;
          grid-area: ajuda;
          margin-left: 5%;
        }

        img {
          display: none;
        }
        label {
          margin: 0;
        }

        .verMais {
          color: $text-type4-color;
          font-size: 1rem;
          font-weight: $font-weight-normal;
          justify-self: end;
          margin-right: 2rem;
        }
      }

      .titulo_sessoesDestaque {
        display: block;
        grid-template-areas: none;
        grid-template-columns: none;
        align-self: center;
        label {
          font-size: $font-size-m;
          font-weight: $font-weight-boldest;
          color: $text-main-color;
          margin-left: 0.5rem;
        }

        img {
          display: none;
        }
      }

      .minhasEquipas {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-rows: 1fr;

        .criarEquipa {
          background-color: #f8faff;
          margin-right: 2rem;
        }

        .minhasEquipasCard {
          display: grid;
          grid-template-rows: auto 1fr;
          border-radius: 10px;
          margin-right: 2rem;

          img {
            width: 100%;
          }

          .cardInfo {
            background-color: #f8faff;
            display: grid;
            grid-template-rows: 0.5fr 0.5fr 0.5fr;
            grid-template-areas: "labelAno" "disciplina" "escola";
            grid-row-gap: 1rem;
            padding: 1rem;

            #labelAno {
              grid-area: labelAno;
              font-weight: $font-weight-boldest;
              color: $text-main-color;
              font-size: 1.25rem;
            }

            #disciplina {
              grid-area: disciplina;
              font-weight: $font-weight-bolder;
              color: $text-main-color;
              font-size: $font-size-s;
            }

            #escola {
              grid-area: escola;
              font-weight: $font-weight-bold;
              color: $text-main-color;
              font-size: 0.875rem;
              display: block;
            }
          }
        }
      }
    }

    .sessoesDestaque {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
    }

    .narrativa {
      .likes_coments {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1220px) {
  .sessoesDestaque {
    .narrativa {
      .iconSessoes {
        margin: 0;
        margin-left: 1rem;
      }
      .textoCards {
        label {
          font-size: 0.8rem;
        }
        p {
          font-size: 0.6rem;
        }
        span {
          font-size: 0.6rem;
        }
      }
      .iconMedalha {
        margin: 0;
        margin-right: 1rem;
      }
    }
  }
}
