.etapa {
  .conteudoMain {
    display: grid;
    .titulosTop {
      display: grid;
      grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
      grid-template-areas: ". seta tituloListaEtapas . .";
      background-color: #042454;
      padding: 2rem;

      #tutorial {
        align-self: center;
        justify-self: center;
        grid-area: tutorial;
      }
      h2 {
        color: white;
        font-weight: 500;
        font-size: 1.375rem;
      }

      .tituloListaEtapas {
        display: grid;
        label {
          justify-self: center;
          color: #e0eaff;
          font-weight: 600;
          font-size: 1.3rem;
        }
        .tituloEtapas_mobile {
          display: none;
        }
      }

      #seta {
        grid-area: seta;
      }
      #tituloListaEtapas {
        grid-area: tituloListaEtapas;
      }

      #tituloNavegar {
        display: none;
      }

      #setaDesktop {
        display: none;
      }
      #setaMobile {
        display: block;
      }
    }

    .conteudoMid {
      .etapaLista {
        .fundoAzul {
          background-color: $text-main-color;
          padding-bottom: 4rem;
          .navTutorial {
            display: none;
          }
        }
        .fundoAzulEtapa3 {
          background-color: $text-main-color;
          padding-bottom: 1.5rem;
          .navTutorial {
            display: none;
          }
        }
        .fundoBranco {
          padding-bottom: 4rem;
          .navTutorial {
            display: none;
          }
        }
        .fundoCinza {
          background-color: #f9f9f9;
          .navTutorial {
            display: none;
          }
        }
        .principal {
          display: grid;
          margin: 0 2rem;

          #titulo {
            color: white;
            margin-bottom: 3rem;
            margin-top: 3rem;
          }
          #texto1fundoAzul {
            color: white;
            margin-bottom: 1.5rem;
          }
          #texto2fundoAzul {
            color: white;
          }
          #texto1fundoClaro {
            color: #003bb9;
            margin-bottom: 1.5rem;
          }
          #texto2fundoClaro {
            color: #003bb9;
          }
          #textoSecundario {
            margin-top: 1.5rem;
          }
          li {
            margin-bottom: 1.5rem;
          }
          #botao {
            background-color: $button-type1-background;
            margin-top: 2rem;
            border: 1px solid #e0eaff;
            border-radius: 0.3rem;
            display: grid;
            grid-template-columns: 0.1fr 1fr 0.3fr;
            grid-template-areas: ". textoEsquerda setaDownload";
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            margin-bottom: 2rem;

            #textoEsquerda {
              align-self: center;
              grid-area: textoEsquerda;
              #textoBotao {
                color: $text-main-color;
                font-weight: $font-weight-bolder;
                font-size: 0.81rem;
              }
            }
            #setaDownload {
              align-self: center;
              justify-self: center;
              grid-area: setaDownload;
            }
          }
        }

        #titulo2 {
          color: $text-main-color;
          margin-bottom: 3rem;
          margin-top: 3rem;
        }
        a {
          text-decoration: none;
          display: grid;
          width: 100%;
          justify-self: center;

          #botao2 {
            background-color: $text-main-color;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            margin-top: 3rem;
            margin-bottom: 1rem;
            border: 1px solid #042454;
            border-radius: 0.3rem;
            width: 95%;
            justify-self: center;

            #textoBotao2 {
              color: white;
              text-align: center;
              font-weight: $font-weight-bolder;
              font-size: 1.3rem;
            }
          }
          #botao2fundoAzul {
            background-color: $button-type1-background;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            margin-top: 3rem;
            border: 1px solid #042454;
            border-radius: 0.3rem;
            width: 95%;
            justify-self: center;

            #textoBotao2fundoAzul {
              color: $text-main-color;
              text-align: center;
              font-weight: $font-weight-bolder;
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    .navegar {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .etapa {
    .conteudoMain {
      display: grid;
      grid-template-rows: auto 4rem 1fr;
      padding-right: 4rem;
      padding-top: 2rem;
      padding-left: 1rem;
      grid-row-gap: 1rem;

      .bemvindo_titulos {
        h3 {
          visibility: hidden;
        }
      }

      .titulosTop {
        display: grid;
        grid-template-columns: auto 1.5fr 1fr;
        grid-template-areas: "seta tituloListaEtapas tituloNavegar";
        align-items: center;
        padding: 0;

        background-color: white;

        #tituloListaEtapas {
          grid-area: tituloListaEtapas;
        }
        #tituloNavegar {
          display: block;
          grid-area: tituloNavegar;
          margin-left: 2.5rem;
        }
        #seta {
          grid-area: seta;
          justify-self: center;
        }
        #setaDesktop {
          display: block;
        }
        #setaMobile {
          display: none;
        }

        .tituloListaEtapas {
          display: grid;

          label {
            justify-self: baseline;
            color: #042454;
            margin-left: 1rem;
          }
          .tituloEtapas_mobile {
            display: none;
          }
        }

        label {
          color: #042454;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      .conteudoMid {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        overflow: hidden;

        .etapaLista {
          overflow: scroll;
          overflow-x: hidden;
          .fundoAzul {
            border-radius: 10px;
          }

          .principal {
            #botao2 {
              display: none;
            }
          }
        }

        .navegar {
          display: grid;
          margin-left: 2.5rem;
          grid-gap: 1rem;

          height: fit-content;
          a {
            text-decoration: none;
          }

          .botaoNavegar {
            display: grid;
            grid-template-columns: 2rem auto 2rem;
            background-color: #f8faff;
            padding: 2rem;
            border-radius: 10px;
            label {
              color: #042454;
              justify-self: center;
              font-weight: 700;
            }
          }
          .proxima {
            grid-template-areas: ". proximo setaProximo";
          }
          .anterior {
            grid-template-areas: "setaAnterior anterior . ";
          }
          #anterior {
            grid-area: anterior;
          }
          #setaAnterior {
            grid-area: setaAnterior;
          }
          #proximo {
            grid-area: proximo;
          }
          #setaProximo {
            grid-area: setaProximo;
          }
        }

        .listaEtapas {
          overflow: scroll;
        }
      }
    }
  }
}
