.etapa {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;

  nav {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 1fr 0.5fr 0.1fr;
    grid-template-areas: ". seta tutorial . .";
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    #seta {
      align-self: center;
      grid-area: seta;
    }

    #tutorial {
      align-self: center;
      justify-self: center;
      grid-area: tutorial;
    }
    h2 {
      color: white;
      font-weight: 500;
      font-size: 1.375rem;
    }
  }

  .fundoAzul {
    background-color: $text-main-color;
    padding-bottom: 4rem;
  }
  .fundoAzulEtapa3 {
    background-color: $text-main-color;
    padding-bottom: 1.5rem;
  }
  .fundoBranco {
    padding-bottom: 4rem;
  }
  .fundoCinza {
    background-color: #f9f9f9;
  }
  .principal {
    display: grid;
    margin: 0 2rem;

    #titulo {
      color: white;
      margin-bottom: 3rem;
    }
    #texto1fundoAzul {
      color: white;
      margin-bottom: 1.5rem;
    }
    #texto2fundoAzul {
      color: white;
    }
    #texto1fundoClaro {
      color: #003bb9;
      margin-bottom: 1.5rem;
    }
    #texto2fundoClaro {
      color: #003bb9;
    }
    #textoSecundario {
      margin-top: 1.5rem;
    }
    li {
      margin-bottom: 1.5rem;
    }
    #botao {
      background-color: $button-type1-background;
      margin-top: 3rem;
      border: 1px solid #e0eaff;
      border-radius: 0.3rem;
      display: grid;
      grid-template-columns: 0.1fr 1fr 0.3fr;
      grid-template-areas: ". textoEsquerda setaDownload";
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      #textoEsquerda {
        align-self: center;
        grid-area: textoEsquerda;
        #textoBotao {
          color: $text-main-color;
          font-weight: $font-weight-bolder;
          font-size: 0.81rem;
        }
      }
      #setaDownload {
        align-self: center;
        justify-self: center;
        grid-area: setaDownload;
      }
    }
  }

  #titulo2 {
    color: $text-main-color;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  #botao2 {
    background-color: $text-main-color;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 1px solid #042454;
    border-radius: 0.3rem;
    width: 95%;
    justify-self: center;

    #textoBotao2 {
      color: white;
      text-align: center;
      font-weight: $font-weight-bolder;
      font-size: 1.3rem;
    }
  }
  #botao2fundoAzul {
    background-color: $button-type1-background;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 3rem;
    border: 1px solid #042454;
    border-radius: 0.3rem;
    width: 95%;
    justify-self: center;

    #textoBotao2fundoAzul {
      color: $text-main-color;
      text-align: center;
      font-weight: $font-weight-bolder;
      font-size: 1.3rem;
    }
  }
}

.f1 {
  display: grid;
  grid-template-rows: 1fr;
}
