.homepage {
  display: grid;
  grid-template-rows: 3rem 1fr auto auto auto;
  grid-gap: 4rem;

  nav {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 1fr 0.5fr 0.1fr;
    grid-template-areas: ". logo . login .";
    grid-row-gap: 5rem;
    margin: 0;

    #logo {
      justify-self: left;
      align-self: center;
      grid-area: logo;
    }

    #login {
      justify-self: right;
      align-self: center;
      grid-area: login;
    }

    img {
      max-width: 10%;
      min-width: 32px;
    }

    .botaoLogin {
      background-color: $button-type1-background;
      color: $text-main-color;
      border: none;
      font-weight: $font-weight-boldest;
      border-radius: 5px;
      width: 50%;
      min-width: 60px;
      min-height: 24px;
      padding: 0;
    }
  }

  section {
    display: grid;
    margin: 0 2rem;
    grid-gap: 2rem;
    h1 {
      text-align: center;
      color: $text-main-color;
    }
    #texto1 {
      text-align: center;
      color: $text-type4-color;
      font-weight: $font-weight-boldest;
      margin-top: 3rem;
    }
    #texto2 {
      text-align: left;
      color: $text-type2-color;
      font-weight: $font-weight-bold;
    }
    .imagem1Homepage {
      width: 100%;
    }
    img {
      justify-self: center;
      align-self: center;
    }
    .botaoRegisto {
      color: white;
      background-color: $button-type2-background;
      border: none;
      font-weight: $font-weight-bold;
      font-size: $font-size-s;
      width: 60%;
      height: 55px;
      justify-self: center;
      border-radius: 5px;
    }
    h2 {
      text-align: center;
      color: $text-main-color;
    }
    a {
      text-align: center;
      font-weight: $font-weight-bolder;
      margin-bottom: 3rem;
    }
    a:link {
      color: $text-main-color;
    }
    a:visited {
      color: $text-main-color;
    }
    li {
      margin-bottom: 1rem;
    }
    .paragrafoComofunciona {
      margin-bottom: 1rem;
    }
    .imageBox {
      height: calc(50% + 50);
      width: 100%;
      background-color: #c1dee2;
    }
    /*
    .angledShape {
      transform: skew(0deg, -5deg);
      background-color: #c1dee2;
    }
    .notangledShape {
      transform: skew(0deg, 5deg);
      bottom: 0;
      padding: 3rem;
    }
    */
  }
  #apresentacaoBanco {
    grid-gap: 3rem;

    img {
      width: 100%;
    }
  }
  #comoFunciona {
    grid-gap: 3rem;

    #sectionComoFunciona {
      display: grid;
      grid-gap: 3.5rem;

      #comoFuncionaTexto {
        display: grid;
        grid-template-columns: 0.8fr 0.4fr;
        grid-template-areas: "texto imagem";

        .textoCentroVertical {
          align-self: center;
        }

        #textoComoFunciona {
          grid-area: texto;
          color: $text-main-color;
        }

        #textoComoFunciona2 {
          grid-area: texto;
          padding-top: 1.5rem;
          color: $text-type4-color;
        }

        #imagem {
          grid-area: imagem;
          justify-self: right;
        }
      }
      #comoFuncionaTexto2 {
        display: grid;
        grid-template-columns: 0.4fr 0.8fr;
        grid-template-areas: "imagem texto";

        .textoCentroVertical {
          align-self: center;
        }

        #textoComoFunciona {
          grid-area: texto;
          color: $text-main-color;
          text-align: right;
        }

        #textoComoFunciona2 {
          grid-area: texto;
          padding-top: 1.5rem;
          color: $text-type4-color;
          text-align: right;
        }

        #imagem {
          grid-area: imagem;
          justify-self: left;
        }
      }
    }
  }
  #feedback {
    grid-gap: 3rem;
    justify-items: center;
  }

  .gapTexto {
    margin-top: 2rem;
  }

  .gapBotao {
    margin-top: 7rem;
  }

  #carousel {
    margin: 0;
    justify-items: center;
  }

  .carousel {
    width: 90vw;

    .carouselCards {
      background-color: rgba($color: #aaaaaa, $alpha: 0.2);
      border-radius: 20px;
      padding: 1.5rem;
      height: 30vh;
      display: grid !important;
      grid-template-columns: 0.5fr 1fr;
    }

    .imgCard {
      display: grid;
      align-items: center;
    }

    .slick-slide > div {
      margin: 0 10px 30px;
    }
    .slick-list {
      margin: 0 -10px;
    }

    .texto {
      display: grid;
      align-items: center;
      grid-template-rows: auto 1fr;

      label {
        font-size: $font-size-l;
        color: $text-main-color;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
}
