.loginImg{
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 4px;
    height: 40vh;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

.formatoForm{
    padding: 5%;

    input{
        border:none;
        border-radius: 4px;
        height: 40px;
        /*MUDAR A COR PARA VARIAVEIS*/
        background-color: rgb(245, 245, 245);
    }

    form{
        display: grid;
    }

    section{
        margin-top: 8%;
    }
    
}

.formatoInput{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 4%;

    img{
        position: absolute;
        right: 5%;
    }

    input{
        width: 100%;
    }

    input::placeholder{
        color: lightgray;
        padding-left: 5%;
    }
    input:focus{
        outline: 0;
    }

    
}


.formatoLables{
    font-size: $font-size-s;
    font-weight: $font-weight-normal;
    color: #AAAAAA;
}

.formatoTitulo{
    font-size: $font-size-l;
    color:#AAAAAA;
    font-weight: $font-weight-bold;
}

.botaoSubmit{
    display: flex;
    justify-content: center;
    button{
        margin-top: 5%;
        border-radius: 5px;
        border: none;
        width: 70%;
        padding: 5%;
        background-color: #F5F5F5;
        font-size: $font-size-l;
        color:#AAAAAA;
        font-weight: $font-weight-bolder;
    }
}

.textoFim{
    font-size: $font-size-s;
    text-align: center;
    color: #AAAAAA;
    font-weight: $font-weight-lighter;
    span{
        font-size: $font-size-xs;
    }
}