.minhasEquipas {
  .conteudoMain {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 2rem;
    padding: 1rem;
    overflow-x: hidden;
    overflow: initial;
    height: 100%;

    .goBack_criarEquipa {
      display: grid;
      grid-template-columns: 1fr auto;

      img {
        align-self: center;
      }

      div {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 0.5rem;
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
        border-radius: 5px;
        background-color: #f5f5f5;
        img {
          align-self: center;
          justify-self: center;
        }

        label {
          color: #a6a6a6;
          font-weight: 600;
          align-self: center;
          justify-self: center;
        }
      }
    }
    .titulo {
      display: grid;
      grid-template-columns: 1.5rem auto;
      grid-template-areas: "iconTituloMinhasEquipas titulo_and_img";
      align-items: center;

      #titulo_and_img {
        grid-area: titulo_and_img;
      }
      #iconTituloMinhasEquipas {
        grid-area: iconTituloMinhasEquipas;
        width: 95%;
        align-self: center;
      }

      .titulo_and_img {
        display: grid;
        grid-template-columns: 1fr 3rem;
        .tituloMinhasEquipas {
          font-size: $font-size-m;
          font-weight: $font-weight-boldest;
          color: $text-main-color;
          margin-left: 0.5rem;
        }

        #iconOrdenar {
          justify-self: end;
        }
      }

      .criarEquipa {
        display: none;
      }

      .mobile {
        display: block;
      }
      .desktop {
        display: none;
      }
    }

    .conteudoMid {
      a {
        text-decoration: none;
      }
      .cardMinhasEquipas {
        display: grid;
        grid-template-columns: 3rem 1fr auto;
        background-color: #d5eee8;
        border-radius: 10px;
        margin-bottom: 2rem;
        padding: 1rem;
        #iconEquipa {
          align-self: center;
        }

        .midInfo {
          display: grid;
          grid-row-gap: 1rem;
          align-self: center;
          padding: 1rem;

          label {
            color: #042454;
            font-weight: 600;
            font-size: 1rem;
          }
          p {
            color: #003bb9;
            font-weight: 500;
            font-size: 0.8rem;
            font-style: italic;
          }
          span {
            color: #0066ff;
            font-weight: 400;
            font-size: 0.8rem;
            font-style: italic;
          }
        }
        .leftInfo {
          display: grid;
          grid-template-rows: 1fr 1fr;

          .botaoPontos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: ". botaoPontos";
            grid-column-gap: 0.5rem;
            align-self: baseline;
          }

          #botaoPontos {
            grid-area: botaoPontos;
            justify-self: end;
          }
          #participantes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 0.5rem;
            align-self: center;

            img {
              align-self: center;
              justify-self: end;
              width: 80%;
            }
          }
        }

        .setaEntrar {
          display: none;
        }
      }

      .coluna_direita_desktop {
        .areaCriarEquipa {
          display: none;
        }
        .areaEquipasArquivadas {
          .tituloEquipasArquivadas {
            display: grid;
            grid-template-columns: 1.5rem 1fr 10rem;
            grid-template-areas: "icon label botao";
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: #042454;

            .iconEquipasArquivadas {
              width: 85%;
              align-self: center;
              grid-area: icon;
            }
            label {
              margin-left: 0.5rem;
              grid-area: label;
            }
            .botaoOcultar {
              background-color: #e0eaff;
              border: 1px solid #e0eaff;
              border-radius: 4px;
              width: 50%;
              grid-area: botao;
              justify-self: right;
              color: $text-main-color;
              font-weight: 600;
            }
          }
          .cardEquipasArquivadas {
            .cardMinhasEquipas {
              background-color: #eeddd5;
            }
          }
          .ocultarEquipas {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .minhasEquipas {
    .conteudoMain {
      display: grid;
      grid-template-rows: auto 4rem 1fr;
      padding-right: 4rem;
      padding-top: 2rem;
      margin: 0;
      grid-row-gap: 1rem;

      .bemvindo_titulos {
        h3 {
          visibility: hidden;
        }
      }

      .goBack_criarEquipa {
        display: none;
      }

      .titulo {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "titulo_and_img criarEquipa";
        align-items: center;
        grid-column-gap: 2.5rem;

        #titulo_and_img {
          grid-area: titulo_and_img;
        }
        #iconTituloMinhasEquipas {
          display: none;
        }

        #criarEquipa {
          grid-area: criarEquipa;
        }
        .criarEquipa {
          display: block;
          label {
            font-size: 1.2rem;
            font-weight: 600;
            color: #042454;
          }
        }

        .titulo_and_img {
          display: grid;
          grid-template-columns: 1fr 3rem;
          .tituloMinhasEquipas {
            font-size: $font-size-m;
            font-weight: $font-weight-boldest;
            color: $text-main-color;
            margin-left: 0.5rem;
          }

          #iconOrdenar {
            justify-self: end;
            margin-right: 1rem;
          }
        }

        .mobile {
          display: none;
        }
        .desktop {
          display: block;
        }
      }

      .conteudoMid {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 1rem;
        overflow: auto;

        .listaMinhasEquipas {
          margin-right: 2rem;
          .cardMinhasEquipas {
            display: grid;
            grid-template-columns: 4rem 1fr 0.5fr 4rem;
            background-color: #d5eee8;
            border-radius: 10px;
            margin-bottom: 2rem;
            padding: 1.1rem;
            #iconEquipa {
              align-self: center;
            }
            img {
              width: 100%;
            }

            .leftInfo {
              display: grid;
              grid-template-rows: 1fr;

              .botaoPontos {
                display: none;
              }

              #botaoPontos {
                grid-area: botaoPontos;
              }
              #participantes {
                display: grid;
                grid-template-columns: 3rem 3rem;
                grid-column-gap: 0.5rem;
                align-self: center;

                img {
                  align-self: center;
                  width: 80%;
                  justify-self: end;
                }

                .numeroParticipantes {
                  color: #042454;
                  font-weight: 600;
                  align-self: center;
                }
              }
            }

            .setaEntrar {
              display: grid;
              grid-template-rows: 0.5fr auto 0.5fr;

              #botaoPontos {
                align-self: baseline;
                justify-self: end;
                width: 40%;
              }
              #iconSetaEntrar {
                align-self: baseline;
                justify-self: center;
                width: 40%;
              }
            }

            .midInfo {
              display: grid;
              grid-row-gap: 1rem;
              align-self: center;
              padding: 2rem 1rem 2rem 2rem;
            }
          }
        }

        .coluna_direita_desktop {
          display: block;
          height: fit-content;
          margin-left: 5%;

          .areaCriarEquipa {
            display: grid;
            grid-template-rows: auto 1fr;
            padding: 1rem;
            text-align: center;
            border-radius: 5px;
            background-color: #f8faff;
            grid-row-gap: 1rem;

            .search {
              display: flex;
              position: relative;
              align-items: center;

              input {
                border: none;
                border-radius: 4px;
                height: 40px;

                background-color: white;
                width: 100%;
                padding: 1rem;
              }

              img {
                position: absolute;
                right: 5px;
              }
              ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(4, 36, 84, 0.5);
                opacity: 1; /* Firefox */
              }

              :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: rgba(4, 36, 84, 0.5);
              }

              ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: rgba(4, 36, 84, 0.5);
              }
            }

            button {
              border: none;
              border-radius: 4px;
              height: 40px;

              background-color: rgba(4, 36, 84, 0.5);
              width: 100%;
              color: white;
              font-weight: 400;
            }
          }

          .areaEquipasArquivadas {
            .tituloEquipasArquivadas {
              display: grid;
              grid-template-columns: 0rem auto 10rem;
              grid-column-gap: 0;
              margin-top: 2rem;
              margin-bottom: 2rem;
              font-size: 1.2rem;
              font-weight: 600;
              color: #042454;
              .iconEquipasArquivadas {
                display: none;
              }
            }
            .cardEquipasArquivadas {
              margin-right: 0;
              .cardMinhasEquipas {
                display: grid;
                grid-template-columns: auto 1fr 3rem;
                background-color: #eeddd5;
                border-radius: 10px;
                margin-bottom: 2rem;
                padding: 1.1rem;
                #iconEquipa {
                  align-self: center;
                }
                img {
                  width: 100%;
                }

                .leftInfo {
                  display: grid;
                  grid-template-rows: 1fr;

                  .botaoPontos {
                    display: none;
                  }

                  #botaoPontos {
                    grid-area: botaoPontos;
                  }
                  #participantes {
                    display: grid;
                    grid-template-columns: 3rem 3rem;
                    grid-column-gap: 0.5rem;
                    align-self: center;

                    img {
                      align-self: center;
                      width: 50%;
                      justify-self: end;
                    }

                    .numeroParticipantes {
                      color: #042454;
                      font-weight: 600;
                      align-self: center;
                    }
                  }
                }

                .setaEntrar {
                  display: grid;
                  grid-template-rows: 0.5fr auto 0.5fr;

                  #botaoPontos {
                    align-self: baseline;
                    justify-self: end;
                    width: 50%;
                  }
                  #iconSetaEntrar {
                    align-self: baseline;
                    justify-self: center;
                    width: 50%;
                  }
                }

                .midInfo {
                  display: grid;
                  grid-row-gap: 1rem;
                  align-self: center;
                  padding: 2rem 1rem 2rem 2rem;
                }
              }
            }
            .ocultarEquipas {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1160px) {
  .minhasEquipas {
    .conteudoMain {
      .conteudoMid {
        .listaMinhasEquipas {
          .cardMinhasEquipas {
            grid-template-columns: 4rem 1fr 4rem;
            .leftInfo {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1999px) {
  .conteudoMid {
    .coluna_direita_desktop {
      .areaEquipasArquivadas {
        .cardMinhasEquipas {
          .midInfo {
            span {
              display: none;
            }
          }
          .leftInfo {
            display: none !important;
          }
        }
      }
    }
  }
}
