nav {
  background-color: white;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-areas: "logo . perfil";
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0 1rem 0 1rem;

  #logo {
    justify-self: center;
    align-self: center;
    grid-area: logo;
  }

  #perfil {
    justify-self: center;
    align-self: center;
    grid-area: perfil;
  }

  img {
    max-width: 10%;
    min-width: 32px;
  }

  .iconPerfil {
    max-width: 10%;
    min-width: 25px;
  }
}
