.perfilEquipas {
  .conteudoMain {
    display: grid;
    margin: 1rem;
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 1.5rem;

    .titulo {
      display: grid;
      grid-template-columns: 1.5rem auto 3rem;
      grid-template-areas: "iconTitulo tituloMain botaoManage";
      align-items: center;

      label {
        font-size: $font-size-m;
        font-weight: $font-weight-boldest;
        color: $text-main-color;
        margin-left: 0.5rem;
      }

      img {
        width: 90%;
      }
      .imgBanco {
        width: 85%;
      }

      .iconTitulo {
        grid-area: iconTitulo;
      }
      .tituloMain {
        grid-area: tituloMain;
      }
      .botaoManage {
        grid-area: botaoManage;
        width: 50%;
        display: flex;
        justify-self: center;
        align-items: center;
        justify-content: center;
      }
    }

    .infoPerfil {
      display: grid;
      justify-content: center;
      align-self: center;
      align-items: center;
      justify-items: center;
      grid-row-gap: 1rem;

      img {
        width: 30%;
        margin-top: 1rem;
      }

      label {
        color: $text-main-color;
        font-size: $font-size-l;
        font-weight: $font-weight-more-bold;
        margin-top: 1rem;
      }

      span {
        color: $text-type5-color;
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        width: 60%;
        text-align: center;
      }
    }

    .conteudoBotoes {
      display: grid;
      align-self: center;
      grid-row-gap: 1.5rem;

      .titulo {
        display: grid;
        grid-template-columns: auto 3rem;
        grid-template-areas: "tituloConteudo iconOrdenar";

        .tituloConteudo {
          color: $text-main-color;
          font-weight: $font-weight-normal;
          font-weight: 300;
          grid-area: tituloConteudo;
        }

        .iconOrdenar {
          width: 50%;
          grid-area: iconOrdenar;
          justify-self: center;
        }
      }
      .listaNarrativas {
        overflow: scroll;

        .narrativa {
          .likes_coments {
            display: none !important;
          }
        }
      }

      .botao {
        background-color: $button-type3-background;
        border: 1px solid $button-type3-background;
        border-radius: 0.3rem;
        display: grid;
        grid-template-columns: 0.1fr 0.1fr 1fr;
        grid-template-areas: ". imgEsquerda textoDireita";
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 90%;
        justify-self: center;

        #img_esquerda {
          grid-area: imgEsquerda;
          align-self: center;
        }

        #texto_Direita {
          grid-area: textoDireita;
          align-self: center;

          label {
            padding-left: 1rem;
            font-weight: $font-weight-boldest;
            font-size: $font-size-s;
            color: $text-main-color;
          }
        }
      }
    }
  }
}
