.formularioRegisto {
  display: grid;
  grid-template-columns: 1fr;

  .registoImg {
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 35vh;
    img {
      max-width: 100%;
      max-height: 100%;
    }

    .setaTras {
      position: absolute;
      padding: 1.5rem;
      text-align: initial;
    }
  }

  #etapa1 {
    /* Comentado porque tirei o paragrafo, não acho que seja necessario */
    grid-template-rows: 3rem /* auto */ 1fr 1fr 1fr auto 0.5fr;
  }
  #etapa2 {
    grid-template-rows: 3rem auto 1fr 1fr auto;
    padding-bottom: 1.5rem;

    .inputFormulario {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    /* section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .botao {
      align-items: center;
    } */
  }
  #etapa3 {
    padding-bottom: 1.5rem;
  }
  #etapa4_student {
    grid-template-rows: 3rem auto 1fr auto;
    padding-bottom: 1.5rem;
  }
  #etapa4_teacher {
    grid-template-rows: 3rem auto 1fr 1fr auto;
    padding-bottom: 1.5rem;
  }
  .formulario {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem 1.5rem 0rem 1.5rem;

    .tituloPrincipal {
      justify-content: center;
      label {
        font-size: $font-size-l;
        color: $text-main-color;
        font-weight: $font-weight-boldest;
      }
    }
    .paragrafo {
      margin-bottom: 1rem;
      p {
        color: $text-main-color;
        font-weight: $font-weight-normal;
      }
    }
    label {
      font-size: $font-size-s;
      font-weight: $font-weight-normal;
      color: $text-main-color;
    }
    .react-select-form {
      font-family: $font_family;
      font-weight: 400;
      font-size: 0.8rem;
      margin-top: 1rem;
      .css-g1d714-ValueContainer {
        padding: 0;
      }
    }
    .inputFormulario {
      position: relative;
      input {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0 1rem 0 1rem;
        background-color: $input-color-lightblue;
        width: 100%;
      }

      div {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 1rem;

        img {
          position: absolute;
          right: 5%;
        }

        input::placeholder {
          color: lightgray;
        }
        input:focus {
          outline: 0;
        }
      }

      .error {
        margin-top: 0.1rem;
        margin-bottom: 0.5rem;
        min-height: 20px;
        color: red;
        font-size: 0.8rem;
        position: relative;
        p {
          position: absolute;
        }
        label {
          font-size: $font-size-s;
          font-weight: $font-weight-normal;
          color: $text-main-color;
        }
      }
    }

    .botao {
      display: flex;
      justify-content: center;

      button {
        border-radius: 5px;
        border: none;
        width: 90%;
        padding: 1rem;
        background-color: $button-type2-background;
        font-size: $font-size-l;
        color: white;
        font-weight: $font-weight-bolder;
        &:hover {
          cursor: pointer;
        }
        &:disabled {
          background-color: #f5f5f5;
          cursor: not-allowed;
          color: $text-third-color;
        }
      }
    }
    .tituloFooter {
      display: grid;
      align-items: center;
      text-align: center;
      margin-top: 0;
      a {
        text-decoration: none;
        font-size: $font-size-xs;
        font-weight: $font-weight-bolder;
        color: $text-main-color;
      }
    }
    .error {
      margin-top: 0.1rem;
      margin-bottom: 0.5rem;
      min-height: 20px;
      color: red;
      font-size: 0.8rem;
      position: relative;
      p {
        position: absolute;
      }
    }
  }

  .avatarSelect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;
    margin: 1.5rem 0;
    position: relative;
    img {
      position: relative;
      margin: 1vh;
      height: 8vh;
    }
    .selectedAvatar {
      background-color: $button-type2-background;
      border-radius: 50%;
      margin: 0px;
      height: 10vh;
      padding: 1vh;
    }
  }
}
