.formularioRegisto {
  display: grid;
  grid-template-columns: 1fr;

  .registoImg {
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 35vh;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .formulario {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 5% 5%;
    margin-bottom: 2rem;
    row-gap: 10px;

    .tituloPrincipal {
      justify-content: center;
      label {
        font-size: $font-size-l;
        color: #aaaaaa;
        font-weight: $font-weight-bold;
      }
    }
    .paragrafo {
      p {
        color: rgb(211, 211, 211);
      }
    }

    .inputFormulario {
      input {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0% 15% 0 5%;
        background-color: rgb(245, 245, 245);
        width: 100%;
      }

      div {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 4%;

        img {
          position: absolute;
          right: 5%;
        }

        input::placeholder {
          color: lightgray;
        }
        input:focus {
          outline: 0;
        }
      }
      label {
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        color: #aaaaaa;
      }
    }
    .selectFormulario {
      input {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0% 15% 0 5%;
        background-color: rgb(245, 245, 245);
        width: 100%;
      }

      div {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 4%;

        img {
          position: absolute;
          right: 5%;
        }

        input::placeholder {
          color: lightgray;
        }
        input:focus {
          outline: 0;
        }
      }
      label {
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        color: #aaaaaa;
      }
      select {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0% 15% 0 5%;
        background-color: rgb(245, 245, 245);
        width: 100%;
        color: rgb(211, 211, 211);
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
    .botao {
      display: flex;
      justify-content: center;
      button {
        border-radius: 5px;
        border: none;
        width: 90%;
        padding: 5%;
        background-color: #f5f5f5;
        font-size: $font-size-l;
        color: #aaaaaa;
        font-weight: $font-weight-bolder;
      }
    }
  }
  .f1 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
