.formularioRegisto {
  display: grid;
  grid-template-columns: 1fr;

  .registoImg {
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 35vh;
    img {
      max-width: 100%;
      max-height: 100%;
    }

    .setaTras {
      position: absolute;
      padding: 1.5rem;
      text-align: initial;
    }
  }

  .formulario {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr auto auto;
    margin: 1.5rem;
    margin-bottom: 2rem;
    row-gap: 20px;

    .tituloPrincipal {
      justify-content: center;
      label {
        font-size: $font-size-l;
        color: $text-main-color;
        font-weight: $font-weight-boldest;
      }
    }
    .paragrafo {
      p {
        color: $text-main-color;
        font-weight: $font-weight-normal;
      }
    }

    .inputFormulario {
      position: relative;
      input {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0 1rem 0 1rem;
        background-color: $input-color-lightblue;
        width: 100%;
      }

      div {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 1rem;

        img {
          position: absolute;
          right: 5%;
        }

        input::placeholder {
          color: lightgray;
        }
        input:focus {
          outline: 0;
        }
      }
      label {
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        color: $text-main-color;
      }

      p {
        margin-top: 0.5rem;
        color: red;
        font-size: 0.8rem;
        position: absolute;
      }
    }
    .selectFormulario {
      input {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0 1rem 0 1rem;
        background-color: $input-color-lightblue;
        width: 100%;
      }

      div {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 1rem;

        img {
          position: absolute;
          right: 5%;
        }

        input::placeholder {
          color: lightgray;
        }
        input:focus {
          outline: 0;
        }
      }
      label {
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        color: $text-main-color;
      }
      select {
        border: none;
        border-radius: 4px;
        height: 40px;
        padding: 0 1rem 0 1rem;
        background-color: $input-color-lightblue;
        width: 100%;
        color: rgb(211, 211, 211);
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
    .botao {
      display: flex;
      justify-content: center;
      button {
        border-radius: 5px;
        border: none;
        width: 90%;
        padding: 1rem;
        background-color: $button-type2-background;
        font-size: $font-size-l;
        color: white;
        font-weight: $font-weight-bolder;
      }
      button:disabled {
        border-radius: 5px;
        border: none;
        width: 90%;
        padding: 1rem;
        background-color: #f5f5f5;
        font-size: $font-size-l;
        color: $text-third-color;
        font-weight: $font-weight-bolder;
      }
    }
    .tituloFooter {
      text-align: center;
      a {
        text-decoration: none;
        font-size: $font-size-xs;
        font-weight: $font-weight-bolder;
        color: $text-main-color;
      }
    }
  }

  .f1 {
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr auto 0.1fr;
  }

  .f2 {
    grid-template-rows: 0.5fr 1fr 1fr 0.2fr;
  }

  .avatar {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.2fr 1fr 0.1fr 0.1fr;
    grid-row-gap: 1rem;

    .avatarSelect {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
    }

    .titulo {
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      justify-items: center;
      align-items: center;

      label {
        font-size: $font-size-l;
        color: $text-main-color;
        font-weight: $font-weight-boldest;
      }
    }

    .botao {
      display: flex;
      justify-content: center;
      button {
        border-radius: 5px;
        border: none;
        width: 90%;
        padding: 1rem;
        background-color: $button-type2-background;
        font-size: $font-size-l;
        color: $text-third-color;
        font-weight: $font-weight-bolder;
      }
    }
  }
}
