.sessao {
  grid-template-rows: auto 1fr 3rem;

  #nav {
    grid-area: nav;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 1rem;
  }

  #main {
    grid-area: main;
  }

  #footer {
    grid-area: footer;
  }

  .barraSocial {
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
    align-self: center;
    top: 0;
    z-index: 10;
    padding: 1rem;

    #share {
      justify-self: center;
    }
    #favorito {
      justify-self: center;
    }
    #like {
      justify-self: center;
    }
  }

  .navegacao {
    display: grid;
    grid-template-rows: 1fr 1fr;

    .carousel {
      width: 100vw;
      overflow: hidden;
      padding-left: 1rem;

      .slick-list {
        overflow: visible;
      }
      .slick-slide > div {
        margin: 0 1rem 0 0;
      }

      .slick-slide {
        width: 30% !important;
      }

      .cards {
        background-color: $button-type4-background;
        padding: 1rem 0 1rem 0;
        border-radius: 5px;
        width: 100% !important;
        height: 8% !important;
        text-align: center;

        label {
          color: white;
          font-weight: $font-weight-more-bold;
        }
      }
    }

    .titulo {
      color: $text-type6-color;
      font-weight: $font-weight-boldest;
      font-size: $font-size-l;
      display: grid;
      padding-left: 1rem;
    }
  }

  .conteudoMain {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    padding: 1rem;

    .conteudoMid {
      .cardDescricao {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 1rem;

        .topInfo {
          display: grid;
          grid-template-columns: 1fr 1fr;

          .imgSessao {
            justify-self: end;
          }
        }
      }
    }

    .conteudoPlano {
      .factos {
        display: grid;
        padding: 1.5rem;
        margin: 1rem;
        grid-row-gap: 2.5rem;
        background-color: #e0eaff;
        border-radius: 5px;

        .factos_reais {
          display: grid;
          grid-row-gap: 1rem;
        }

        .unidadeCurricolar {
          display: grid;
          grid-row-gap: 1rem;
        }
      }
    }
    .conteudoComents {
    }
  }
}
