.tutorial {
  .conteudoMain {
    display: grid;
    grid-row-gap: 2rem;
    padding: 1rem;

    .bemvindo_titulos {
      h3 {
        visibility: hidden;
      }
    }
    .navTutorial {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      grid-template-areas: "seta tituloListaEtapas iconOrdenar_mobile";

      #seta {
        grid-area: seta;
      }

      #tituloListaEtapas {
        grid-area: tituloListaEtapas;
        justify-self: center;
      }
      .tituloListaEtapas {
        display: grid;
        grid-template-columns: 1fr;
        .tituloEtapas_desktop {
          display: none;
        }
        .tituloEtapas_mobile {
          font-size: 1.375rem;
          font-weight: $font-weight-boldest;
          color: $text-main-color;
          margin-left: 0.5rem;
        }

        #iconOrdenar {
          display: none;
        }
      }
      .ajuda {
        display: none;
      }
      #iconOrdenar_mobile {
        grid-area: iconOrdenar;
      }
    }

    .conteudoMid {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;

      .listaEtapas {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;

        #linkCaixa {
          text-decoration: none;
          display: grid;
          margin: 0;
          padding: 1rem;
          grid-template-columns: 0.1fr 1fr 0.3fr;
          grid-template-areas: ". textoEsquerda setaDireita";
          background-color: #f8faff;
          border-radius: 10px;
          height: 100%;

          .textoEsquerda {
            display: grid;
            align-self: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            grid-area: textoEsquerda;
            grid-row-gap: 0.5rem;
          }

          .setaDireita {
            align-self: center;
            justify-self: center;
            grid-area: setaDireita;
          }

          h4 {
            font-size: 1rem;
            font-weight: 700;
            color: #042454;
            margin-bottom: 0.2rem;
          }
          p {
            font-size: 0.8rem;
            font-weight: $font-weight-boldest;
            font-style: italic;
            color: #0066ff;
          }
        }
      }

      .ajuda {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .tutorial {
    .conteudoMain {
      display: grid;
      grid-template-rows: auto 4rem 1fr;
      padding-right: 4rem;
      padding-top: 2rem;
      margin: 0;
      overflow: hidden;
      grid-row-gap: 1rem;

      .navTutorial {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "tituloListaEtapas ajuda";
        align-items: center;
        grid-column-gap: 2.5rem;

        #tituloListaEtapas {
          grid-area: tituloListaEtapas;
          justify-self: normal;
        }

        #ajuda {
          grid-area: ajuda;
        }
        #seta {
          display: none;
        }

        .tituloListaEtapas {
          display: grid;
          grid-template-columns: 1fr 3rem;

          .tituloEtapas_desktop {
            display: block;
            font-size: $font-size-m;
            font-weight: $font-weight-boldest;
            color: $text-main-color;
            margin-left: 0.5rem;
          }
          .tituloEtapas_mobile {
            display: none;
          }

          #iconOrdenar {
            display: block;
            justify-self: end;
            margin-right: 1rem;
          }
        }
        .ajuda {
          display: block;
          font-size: $font-size-m;
          font-weight: $font-weight-boldest;
          color: $text-main-color;
        }
        #iconOrdenar_mobile {
          display: none;
        }
      }

      .conteudoMid {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 2rem;
        overflow: hidden;
        .listaEtapas {
          overflow: scroll;
          overflow-x: hidden;
          #linkCaixa {
            text-decoration: none;
            display: grid;
            margin: 0;
            padding: 2rem 1rem 2rem 1rem;
            grid-template-columns: 0.1fr 1fr 0.3fr;
            grid-template-areas: ". textoEsquerda setaDireita";
            background-color: #f8faff;
            border-radius: 10px;
            height: 100%;

            .textoEsquerda {
              display: grid;
              align-self: center;
              padding-top: 1rem;
              padding-bottom: 1rem;
              grid-area: textoEsquerda;
              grid-row-gap: 0.5rem;
            }

            .setaDireita {
              align-self: center;
              justify-self: center;
              grid-area: setaDireita;
            }

            h4 {
              font-size: 1.2rem;
              font-weight: 700;
              color: #042454;
              margin-bottom: 0.2rem;
            }
            p {
              font-size: 1rem;
              font-weight: $font-weight-boldest;
              font-style: italic;
              color: #0066ff;
            }
          }
        }
        .ajuda {
          display: block;
          background-color: #f8faff;
          height: fit-content;
          padding: 3rem 2rem 3rem 2rem;
          border-radius: 10px;

          p {
            color: #042454;
            font-weight: 300;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
